<!DOCTYPE html>
<html>
<head>
  <title>Fireworks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
        <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#myNavbar">
            &#9776;
        </button>
    	<div class="collapse navbar-toggleable-xs" id="myNavbar">
        	<ul class="nav navbar-nav">
        		<li><a <%= link_to "Firework List", root_path, class: 'navbar-brand' %> <span class="sr-only">(current)</span></a></li>
            	<li class="nav-item"><a <%= link_to "Fireworks", fireworks_path, class: 'nav-link' %></a></li>
            	<li class="nav-item"><a <%= link_to "Details", firework_details_path, class: 'nav-link' %></a></li>
              <li class="nav-item"><a <%= link_to "Comments", firework_comments_path, class: 'nav-link' %></a></li>
            </ul>
            <ul class="nav navbar-nav">
              <% if !current_user %>
                <li class="nav-item" role="presentation"><a <%= link_to 'Sign-up', new_user_registration_path, class: 'nav-link' %></a></li>
                <li class="nav-item" role="presentation"><a <%= link_to 'Login', new_user_session_path, class: 'nav-link' %></a></li>
              <% else %>
                <li class="nav-item" role="presentation"><a <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></a></li>
              <% end %>
            </ul>
		</div>
    </nav>
  <%= yield %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>

</html>
